$baseColor: #003049;
$baseNavColor: #012335;
$secondaryColor: $baseNavColor;
$redthemeColor: #d62828;

.customNavbar {
    background-color: $baseColor;
}

.customNav {
    padding: 10;
    text-align: center;
    background-color: $baseNavColor;
    text-decoration: none;
    color: black;
}

.customToggler {
   color: wheat; 
}

.cutomColumn {
    margin-top: 1rem;
}

.projectBase {
    .projectSection {
        background-color: #003049;
        padding-top: 2rem;
        h3 {
            color: whitesmoke;
        }
    }
}

.projectSection {
    margin-bottom: 0.8rem;
    padding-bottom: 1.2rem;
    margin-top: 2rem;
    margin-left: 0rem;
}

.customline{
  width: 50%;
  background-color: white;
}

.active {
    background-color: $redthemeColor;
    font: bold;
    padding: 10;
    text-align: center;
}

.customLink {
    display: block;
    align-items: center;
    text-align: center;
    background-color: #003049;
    color: whitesmoke;
    padding: 0.5rem;
}


.navbar-hamburger {
    border-color: red;
}

.navbar-light .navbar-toggler-icon {
    
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    border-color: rgba(255,255,255,.1);
}

.customBrand {
    background-color: #003049;
    color: white;
    display: none;
}


@media only screen and (max-width: 990px) {
    .customBrand {
        display: block
    }
}

