$baseColor: #14213D;

.contact-form {
    margin-bottom: 5rem;
    background-color: #ffffff;
    border: 1px solid #E2DED6;
    padding: 2rem;
    border-radius: 0.3rem;
    max-width: 50rem;
    color: #14213D;
}

.customButton {
    background-color: #ffffff;
    border-color: #14213D;
    color: #14213D;
}

.contact_section {
    margin-top: 2rem;
}