$baseColor: #14213D;
$baseNavColor: #334E68;
$secondaryColor: #334E68;

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F5F3EE;
    color: #14213D;
    text-align: center;
    height: "40px";
    margin: '0.3rem', 

}