$baseColor: #1a1a2e;
$baseNavColor: #16213e;
$secondaryColor: #2d3748;

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    height: "40px";
    margin: '0.3rem', 

}