$baseNavColor: #1b1b2f;
.frontheader {
    background-color: #1d3557;
    min-height: 400;
    display: flex;
    align-items: center;
    min-width: 90vw;    
    flex-direction: column;
    padding: 10px;
}

.resumeBtn {
    background-color: $baseNavColor;
}

.circularimage {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 25px;
}
