$baseNavColor: #1b1b2f;

.frontheader {
    background-color: #003049;
    // background-image: url("https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80");
    min-height: 400;
    display: flex;

    align-items: center;
    min-width: 90vw;    
    flex-direction: column;
    padding: 10px;
}

.resumeBtn {
    background-color: $baseNavColor;
}

.circularimage {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 25px;
}
